h1{
    color: rgb(71, 71, 71);
}
body{
    background-color: rgb(241, 241, 241);
}

#myName{
    
    text-align: center;
    color: rgb(54, 65, 126);
    
    letter-spacing: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 5px;
    font-size: 100px;
    
    }




#intro{
    display: table;
    margin: auto;
    text-align: center;
    color: rgb(146,146,146);
    background-color: rgb(236,236,236);
    letter-spacing: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: optional;
    font-size:xx-large;
    margin-bottom: 5px;
   
}
#intro:hover{
    color: rgb(54, 65, 126);
}
#based{
    text-align: center;
    color: rgb(146,146,146);
    font-size: xx-large;
    margin-top: 0px;
    letter-spacing: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 100px;
}
#based:hover{
    color: rgb(54, 65, 126);
}

#introNumberrr2{
    text-align: justify-all;
    color: rgb(71, 71, 71);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    letter-spacing: 3px;

}
#divIntroNr2{
    margin-left: 150px;
    margin-top: 200px;}
div p{
   
    margin-right: 100px;
    position: relative;
}